.popular{
    display: inline-block;
   .container{
    display: inline-block;

    .row{
        display: inline-block;
        .col-6{
            .popular_text{
                display: inline-block;
            }
            display: inline-block;
       .popular_img{
        display: inline-block;
        img{
            display: inline-block;
        }
       }
       
        }
    }
   }
}